<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dashboard</title>
	<link rel="stylesheet" href="">
</head>
<body>
<a href="/logout/" class="button">Salir</a>
{% if user_type  %}
<nav>
	<ul>
		<li><a href="/business/graphic/" title="Grafica">
			Resumen
		</a></li>
	</ul>
	<ul>
		<li><a href="/business/sales" title="Grafica">
			Ventas
		</a></li>
	</ul>
	<ul>
		<li><a href="/business/products" title="Grafica">
			Catálogo de productos y servicios
		</a></li>
	</ul>
	<ul>
		<li><a href="/business/add_product/" title="Grafica">
			Agregar producto o servicio
		</a></li>
	</ul>
	<ul>
		<li><a href="/business/stock" title="Grafica">
			Inventario
		</a></li>
	</ul>
</nav>
{% else %}
Soy un cliente
{% endif %}


{% if func == 'resumen' %}
	la grafica pendeja
{% elif func == 'ventas'%}
	Registrar venta
	<br><br>
	<form method="post" action="/business/sales/">
	{% csrf_token %}
	{% for product in products%}
		{{product.name}}:
		<input name="checks" id="checks{{product.pk}}" type="checkbox" value="{{product.pk}}"> 
		Cantidad: <input type="number" name="quantity{{product.pk}}"/>
		<br><br>
	{%endfor%}

	<input type="submit" value="añadir ventas"/>
	</form>


{% elif func == 'product' %}

	<form action="/business/add_product/" method="post" accept-charset="utf-8">
		{% csrf_token %}
		{% for field in product_form%}
			{{field.label}}: {{field}}
			<br><br>
		{%endfor%}
		<br><br>
		<h4>Materiales que ocupas</h4>
		<h5>Si no ocupas nada para fabricarlo o crearlo dejalo en blanco</h5>
		<div id="material_forms">
		</div>
		<a id="add_material_btn" href="#" title="">Agregar material</a>
		<br><br>
		<input type="submit" value="enviar"/>

	</form>
{% elif func == 'catalogo' %}
	Productos:
	<br><br>
	{% for product in products %}
		{{product.name}} -- ${{product.price}}
		<br><br>
	{% endfor %}


{% elif func == 'stock' %}
	Stock de materiales utilizados
	<br><br>
	{%for material in materials%}
		{{material.name}} -- {{material.quantity}}
		<br><br>
	{%endfor%}

{% endif %}


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/products.js' %}"></script>
</body>
</html>