<!DOCTYPE html>
<html>
  <head>
  	{% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  	<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo grey-text text-darken-4">El Link</a>
      <ul class="right">
        <li>
          <a href="/login" class="text-big waves-effect waves-light btn white-text blue lighten-2">
            Iniciar Sesión
          </a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav grey-text text-darken-4">
        <li><a href="/login" class="grey-text text-darken-4">Iniciar Sesión</a></li>
        <li><a href="/login" class="grey-text text-darken-4">Registrate</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons grey-text text-darken-4">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot fix-back">
      <div class="container" style="background: ">
        <br><br>
        <h1 class="header center white-text text-darken-3"><b>El Link</b></h1>
        <div class="row center">
          <h5 class="header col s12 light white-text text-darken-4 text-big-2">Un nuevo mercado</h5>
        </div>
        <div class="row center">
          <a href="/signup/negocio" id="download-button" class="text-big waves-effect waves-light btn white-text blue lighten-2">
            ¿Tienes un Negocio? ¡Obten una cuenta Gratis!
          </a>
          <br><br>
          <a href="/signup/client" id="download-button" class="text-big waves-effect waves-light btn white-text blue lighten-2">
            ¡Encuentra opciones nuevas cerca de ti! Registrate como usuario
          </a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background1.jpg' %}" alt="mg 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">add_shopping_cart</i></h2>
            <h5 class="center">Aumenta tus ventas</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Administra el personal de tu negocio</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">swap_horiz</i></h2>
            <h5 class="center">Recibe Pagos facilmente</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot fix-back">
      <div class="container">
        <div class="row center">
          <h4 class="header white-text text-big-2 col s12 z-depth-5" >La forma más fácil de Adminisrar tu negocio</h4	>
        </div>
      </div>
    </div>
    <div class="parallax" ><img src="{% static 'img/background2.jpg' %}" alt="Unsplashed background img 2" ></div>
  </div>

  <footer class="page-footer blue darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MXHACKS III FALL SEASON 2015</h5>
          <p class="grey-text text-lighten-4">En MXHacks estamos dispuestos a no dormir hasta ver hecho realidad lo que otros solo se permiten soñar.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Hecho con <a class="brown-text text-lighten-3" href="http://materializecss.com">Materializecss</a>, <a class="brown-text text-lighten-3" href="https://www.djangoproject.com/">Django</a> y <a class="brown-text text-lighten-3" href="#">Javascript</a>
      </div>
    </div>
  </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
  </body>
</html>
